.faq_container {
    margin: 10px 100px 20px;
    padding: 10px 200px 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
}

.faq_container h2 {
    padding-bottom: 30px;
    color: #F18203;
}


.faq {
    margin-bottom: 20px;
    border-bottom: 1px solid #F18203;
    padding-bottom: 20px;

}


.faq h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.faq p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #f98500d5;
}